body {
	font-family: "Lato", sans-serif;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
}

.wrapper {
	min-height: 100vh;
}

.navigation-item {
	border-left: 0.25rem solid transparent;
}

.navigation-item:hover {
	border-left-color: $primary;
}

.navigation-item:hover span {
	color: $primary;
}

.user-avatar {
	width: 40px;
	height: 40px;
	object-fit: cover;
}

.page-link {
	border-color: $primary;
}

.page-link:hover {
	color: #fff;
	background-color: $primary;
	border-color: $primary;
}
